.body {
    margin: 200px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover; 
    background-position: center;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.add-button,
.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.add-button:hover,
.submit-button:hover {
    background-color: #0056b3;
}
.remove-button {
    background-color: #ff0000; 
    color: #ffffff; 
    border: none;
    padding: 5px 10px; 
    margin-right: 0px;
    cursor: pointer;
    align-items:right;
  }
  .left-aligned {
    align-items:right;
  }
  .ccontainer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px 0;
  }
.ccontainer h1 {
    color: #ffffff;
}
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }