<header>
    <div class="container">
      <h1>DynamicCV - Posted Jobs </h1>
    </div>
</header>
<main>
    <div class="container mt-5">
        <h2 class="text-center mb-4">List of Jobs</h2>
        <div class="d-grid gap-2">
            <div *ngFor="let job of jobdets; let i = index" class="d-flex align-items-center justify-content-between">
                <h3>{{ i + 1 }}.{{ job.jobName }} (Job Id : {{ job.jobid }})</h3><br>
                <h4>Company : {{ job.company }}</h4><br>
                <h5>Location :{{ job.location }}</h5><br>
                <p><b>Job Description :</b>{{ job.jobdescr }}</p><br>
                <p><b>Qualification :</b>{{ job.jobqualif }}</p><br>
                <h5>Last Date of Submission : {{ job.ldate }}</h5><br>
                <!--<button class="tag-btn">See Applications</button><br><br>-->
                <button class="tag-btn" (click)="removeJob(job.jobid)">Remove</button>
                <br><br>
            </div>  
        </div>
    </div>        
</main>
<footer>
    <div class="container">
      <p>&copy; 2024 DynamicCV. All rights reserved.</p>
    </div>
</footer>