<div class="hero">
    <div class="form-box">
        <div class="button-box" >
            <div class="btn" [style.left]="isLogin1Visible ? '0px' : '110px'"></div>
            <button class="toggle-btn" (click)="login1()"> User</button>
            <button class="toggle-btn" (click)="login2()" >Recruiter</button>
        </div>
        <form id='login1' class="input-group" *ngIf="isLogin1Visible" [formGroup]="loginForm1" (ngSubmit)="loginUser()">
            <input type="email" class="input-field" id="em_id1" formControlName="em_id1" placeholder="User Email Id" required>
            <input type="password" class="input-field" id="ps1" formControlName="ps1" placeholder="Enter Password" required>
            <br><br><br><br>
            <!--<input type="checkbox" class="check-box"><span class="span1">Show Password</span>-->
            <button type="submit" class="submit-btn">Log In</button>
            <br><br>
            <div class="mt-3">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Are you a new user ? </label>
                <a href="user-register" class="login-button"> Register</a>
            </div>
        </form>
        <form id='login2' class="input-group" *ngIf="isLogin2Visible" [formGroup]="loginForm2" (ngSubmit)="loginRecru()">
            <input type="email" class="input-field" id="em_id2" formControlName="em_id2" placeholder="Recruiter Email Id" required>
            <input type="password" class="input-field" id="ps2" formControlName="ps2" placeholder="Enter Password" required>
            <br><br><br><br>
            <!--<input type="checkbox" class="check-box"><span class="span2">Show Password</span>-->
            <button type="submit" class="submit-btn">Log In</button>
        </form>
    </div>
</div>
