<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400; 700&display=swap" rel="stylesheet">

<div class="bg-img">
<div class="container">
    <div class="navbar">
    </div>
    <div class="row">
        <div class="col">
            <img src="assets/logo-no-background.png" class="logo">
            <br><br>
            <p class="txt">Craft impressive resumes and cover letters, explore diverse job listings, and seamlessly apply to your dream roles —all in a single, user-friendly platform designed to elevate your career journey.</p>
            <button type="button" style="text-decoration: none;color:#fff;font-size:20px;font-style:italic;" (click)="navLogin()">Login</button>
        </div>
        <div class="car">
        <div class="card card1"></div>
        <div class="card card2"></div>
        <div class="card card3"></div>
        <div class="card card4"></div>
        </div>
    </div>
</div>
</div>